.container{
    display: flex;
    justify-content: space-between; /* This ensures even spacing between items */
    gap: 20px; /* Adjust the gap between items as needed */
    flex-wrap: wrap;

}

.vanCard{
    flex: 1 1 calc(33.333% - 10px); /* 3 items per row, with some margin */
    margin: 5px; /* optional: for spacing between items */
    box-sizing: border-box; /* to include padding and border in the item width */
    padding: 10px;
    background-color: lightblue;
    text-align: center;
}

.van-crd-inner > h3{
    padding: 5px;
}

.v-img{
    border-radius: 20px;
    width: 100%;
}

i[class*='van-type-'] {
    padding: 7px 14px;
}

.van-type {
    height: 34px;
    padding: 6px 26px;
    font-style: normal;
    font-weight: 500;
    border: none;
    border-radius: 5px;
    background-color: #FFEAD0;
    color: #4D4D4D;
    transition: 200ms all cubic-bezier(0.4, 0, 0.2, 1);
}

.van-type:hover {
    color: #FFEAD0;
}

.van-type:focus {
    outline: none;
}

.van-type.selected {
    color: #FFEAD0;
}

.van-type.simple:hover, .van-type.simple.selected {
    background-color: #E17654;
}

.van-type.rugged:hover, .van-type.rugged.selected {
    background-color: #115E59;
}

.van-type.luxury:hover, .van-type.luxury.selected {
    background-color: #161616;
}

.van-type.clear-filters {
    margin-left: -20px;
    height: 34px;
    padding: 6px 26px;
    font-style: normal;
    font-weight: 500;
    border: none;
    border-radius: 5px;
    text-decoration: underline;
    background-color: transparent;
    color: #4D4D4D;
}


/* van details page */

.vd-img{
    width: 497.32;
    height: 490.35;
    margin: 5% 0;
}

.vand-crd-inner{
    margin: 5% 0;
}

i[class*='vand-type-'] {
    padding: 7px 14px;
    
}

.vand-type {
    height: 34px;
    padding: 6px 26px;
    font-style: normal;
    font-weight: 500;
    border: none;
    border-radius: 5px;
    background-color: #FFEAD0;
    color: #4D4D4D;
    transition: 200ms all cubic-bezier(0.4, 0, 0.2, 1);
}

.vand-type:hover {
    color: #FFEAD0;
}

.vand-type:focus {
    outline: none;
}

.vand-type.selected {
    color: #FFEAD0;
}

.vand-type.simple:hover, .van-type.simple.selected {
    background-color: #E17654;
}

.vand-type.rugged:hover, .van-type.rugged.selected {
    background-color: #115E59;
}

.vand-type.luxury:hover, .van-type.luxury.selected {
    background-color: #161616;
}

.vand-type.clear-filters {
    margin-left: -20px;
    height: 34px;
    padding: 6px 26px;
    font-style: normal;
    font-weight: 500;
    border: none;
    border-radius: 5px;
    text-decoration: underline;
    background-color: transparent;
    color: #4D4D4D;
}

.vd-details{
    margin: 5% 10%;
}

.vand-crd-inner > h3, h1, p , button{
    margin: 5% 0;
}

.vand-crd-inner > button {
    background-color: #FF8C38;
    color: #fff;
    width: 494.33;
    height: 49.83;
}